<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span>WEB322 - Mahin Ibne Alam</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About</h2>
        <p>My name is Mahin Ibne Alam, and my nickname is Nirob, bestowed upon me by my mother. I
      came into this world in 2004, in the city of Rajshahi, Bangladesh. However, I grew up in the
      vibrant capital city of Dhaka. My parents, originally from Rajshahi themselves, moved to Dhaka
      seeking better opportunities for our family. My educational odyssey led me through South Point
      School and Academia, where I completed my high school education in 2022. The dream of studying
      abroad took root early, inspired by my sister's pursuit of education overseas. Now, I am proud
      to be a student at Seneca College, embarking on a journey in Computer Programming and
      Analysis. My aspiration is to hone my programming skills and contribute meaningfully to the
      tech industry. We are a family of five. My father, a determined entrepreneur, and my mother,
      the heart of our home, instilled in me values of hard work and perseverance. I'm blessed with
      two elder sisters, both accomplished graduates.One resides in Oshawa, Ontario, having
      embraced Canada as her new home, while the other stays close by in Dhaka.</p>
      </div>
      <div class="col-md-6">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
      </div>
    </div>
  </div>
</body>
</html>
