/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
  }
  
  h2, h4, h5 {
    color: #2c3e50;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  a:hover {
    color: #e74c3c;
    text-decoration: underline;
  }
  
/* Navigation Bar */
.navbar {
    background-color: #2c3e50;
    padding: 5px 20px; /* Reduce the padding to make the navbar smaller */
    position: fixed; /* Make navbar fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays above content */
  }
  
  .navbar .nav-item {
    display: inline-block;
    margin-right: 15px; /* Reduce the space between items */
  }
  
  .navbar .nav-item a {
    color: #ecf0f1;
    font-size: 16px; /* Reduce the font size for a smaller navbar */
    padding: 8px 12px; /* Reduce the padding inside the links */
  }
  
  .navbar .nav-item a:hover {
    background-color: #34495e;
    border-radius: 4px;
  }
  
  /* Item View */
  .item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .item h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .item img {
    border-radius: 8px;
    max-width: 100%;
  }
  
  .item .details {
    flex: 1;
    padding-left: 20px;
  }
  
  .item .details strong {
    color: #2c3e50;
    margin-top: 10px;
  }
  
  .item .details a {
    display: inline-block;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .item .details a:hover {
    background-color: #2980b9;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #343a40;
    border: 1px solid #495057;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}

.dropdown-toggle {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
